@CHARSET "UTF-8";

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: White;
  background-color: Blue;
  padding: 6px 12px;
  font-size: 200%;
}

/*
h2.garish {
  color: Pink;
  background-color: Green;
  padding: 6px 12px;
  font-size: 200%;
}
*/

p {
  font-size: 150%;
  margin-left 1%;
  margin-right 1%;
  padding: 6px 12px;
  
  background-color: LightGray;
}

div#main {
  width: 90%;
  margin-left: 5%;
  maright-right: 5%;

}

div.text {
  background-color: LightGray;
}
